/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}
@font-face{
    font-family: 'Thu phap';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/HL-OngDo-Unicode.ttf');
}
li{
    list-style: none;
}
a, span, p, div{
    font-family: 'Open Sans', arial, sans-serif;
}
a:hover{
    text-decoration: none;
}
.div-title-header{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    padding: 0 1rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: yellow;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.bg-gradient-menu{
    /* background-image: linear-gradient(#5e3913, #a16327, #5f3913); */
    /* background-image: url('image/bg_nav.png'); */
    background-image: url('image/bg_nav_brown.png');
}
.color-dranger{
    color: #ff0033;
    font-style: italic;
}
.page-footer{
    background-color: #a0630a;
}
.c-left{
    margin-left: 10%;
}
.p-left10{
    padding-left: 10%!important;
}
.w100-img{
    max-width: 100%;
}
.size-logo{
    width: 120px;
    margin: 0;
    vertical-align: middle;
    /* margin: 10% auto; */
}
.bg-hed{
    /* background: url(image/bamboo-left-sm.png) no-repeat center center; */
    background: url(image/banner_bg.png) no-repeat center center;
    background-size: cover;
    /* background-position: left; */
    padding: 30px 0;
    overflow: hidden;
}
.head-right{
    /* background: url(image/bamboo-right-sm.png) no-repeat center center; */
    background-size: contain;
    background-position: right;
    margin-top: 1px
}
.head-right h1{
    margin-bottom: 0px
}
.head-right span{
    color: #b87c2d;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    
}
/* .logo-head{
    display: block;
    margin: 0;
    width: 250px;
    height: 150px;
    background: none;
} */
.m-b0{
    margin-bottom: 0;
}
.m-t0{
    margin-top: 0;
}
.m-l0{
    margin-right: 0;
}
.m-r0{
    margin-left: 0;
}
.color-a{
    color: #ffffff;
}
.color-a:hover{
    color: yellow;
}
.text-center{
    text-align: center;
}
.brand-logo{
    display: block;
}
nav{
    height: 54px;
    line-height: 54px;
    
}
.brand-logo h5, .brand-logo h1{
    color: #ff0033;
    font-family: 'Thu phap';
    font-size: 4.5rem;
}
.grey-div{
    padding: 3rem 0;
    background-color: #f9f6ee;
}
.white-div{
    padding: 3rem 0;
}
.logo-head{
    /* margin-top: 3px; */
}
section{
    /* margin-top: 15px; */
}
nav ul a{
    font-size: 1.2rem;
    font-family: 'Thu phap';
}
/* css header */
.title-header{
    color: #ff8500;
    font-family: 'Thu phap';
    font-size: 2rem;
    line-height: 2.5rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    font-weight: 600;
    /* text-transform: uppercase; */
}
.title-header::before, .title-header::after{
    content: '___';
    width: 10%;
    color: #ff8500;
}
.title-line-bottom{
    border-bottom: 1px solid #8b5200;
    line-height: unset;
    font-size: unset;
    padding: 0;
}
.box-title-left{
    margin-right: 0px!important;
}
.box-title-right{
    /* margin-right: 0px; */
}
.card .card-content{
    padding: 10px;
}
.margin0{
    margin: 0;
}
.margin0-bottom{
    margin-bottom: 0;
}
.text-copyr{
    background: #6a3f00;
    padding: 5px 0;
}
/*Banner css*/
.banner-item{
    height: 420px;
}
.banner-item img{
    width: 100%;
    max-height: 100%
}
.slick-prev:before, .slick-next:before{
    color: #996600;
}
.slick-dots li.slick-active button:before{
    width: 30px;
    height: 30px;
    color: #996600;
    font-size: 10px;
}
.banner-title{
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    background: #c06f168f;
    z-index: 999;
    width: 100%;
}
.banner-title a{
    color: #FFEB3B;
    font-size: 20px;
    font-weight: bold;
}
.newsest-content{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 10px;
}
.newsest-image{
    width: 25%;
    height: 120px;
    overflow: hidden;
}
.newsest-image img{
    max-width: 100%;
    height: 100%;
    transition: transform .2s;
}
.newsest-image img:hover{
    transform: scale(1.5);
}
.newsest-content-r{
    width: 73%;
    padding-left: 10px;
}
.newsest-title a{
    font-size: 16px;
    font-weight: 600;
    /* color: #111111; */
}
.newsest-title a:hover{
    color:#f0a91b;
}
.newsest-expect{
    color: #777;
    height: 65px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.info-box{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #9E9E9E;
    font-size: 12px;
}
.newest-date, .newest-views{
    padding-left: 5px;
    padding-right: 5px;
}
.shadow{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
/* end banner css */

/* css tag a */
.title-a{
    font-size: 16px;
    height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 600;
}
/* end css tag a */
/* common css */
.exp-content{
    color: #777;
    height: 65px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.slick-banner, .slick-books, .slick-images{
    display: none;
}
#banner{
    padding-top: 30px;
}
.mb0{
    margin-bottom: 0;
}
/* #section-news, #section-radio{
    
} */
/* end common css */
/*css news*/
.news-content{
    display: flex;
    flex-flow: row nowrap;
}
.news-main{
    flex: 3;
    padding-right: 15px;
    padding-top: 15px;
    max-width: 25%;
}
.news-right{
    flex: 3;
}
.news-main-img img{
    width: 100%;
    height: 100%;
}
.news-right{
    padding-top: 15px;
}
.news-r-img{
    height: 60px;
    width: 80px;
    flex: 1
}
.news-r-info{
    flex: 3;
    padding-left: 5px;
}
.news-r-img img{
    width: 100%;
    height: 100%;
}
.news-main-info, .new-r-detail-info{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.news-item{
    padding-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
}
.news{
    padding-left: 0!important;
}
.news-main-img{
    height: 180px
}
/*end css news*/

/* css pháp âm */
.video-content{
    display: flex;
    flex-flow: row nowrap;
}
.video-content iframe.__youtube_prefs__ {
    border-width: 0;
    width: 100%;
    height: 360px;
}
.video-list, .video-main{
    padding-top: 15px;
}
.video-main{
    width: 67%;
    padding-right: 15px;
}
.video-right{
    width: 35%;
}
.video-list{
    display: flex;
    flex-flow: row nowrap;
}
.video-list .video-thumnail{
    width: 80px;
    height: 60px;
    flex: 1;
}
.video-list .video-thumnail img{
    width: 100%;
    height: 100%;
}
.video-title-right a{
    padding-left: 5px;
}
.video-rigth-info{
    display: flex;
    color: #777;
    font-size: 12px;
}
.video-title-right{
    padding-left: 5px;
    flex: 3;
}
.video-title-content{
    font-size: 16px;
    height: 25px;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
/* end css pháp âm */
.brand-logo:hover{
    text-decoration: none;
}
/* end css header */
/* /style book */
.style-book-cover{
    position: relative;
    z-index: 1;
    background: #c06f16;
    padding: 20px 15px;
    border-radius: 15px;
    min-height: 10px;
}
.style-book-cover::before{
    width: 40px;
    height: 40px;
    background: #9d5200;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: -10px 0 0 #c06f16, -20px 0 0 #c06f16, -30px 0 0 #c06f16;
    -moz-box-shadow: -10px 0 0 #c06f16,-20px 0 0 #c06f16,-30px 0 0 #c06f16;
    box-shadow: -10px 0 0 #c06f16, -20px 0 0 #c06f16, -30px 0 0 #c06f16;
    right: -40px;
}
.style-book-cover:before, .style-book-cover:after{
    content: '';
    position: absolute;
    right: -40px;
    bottom: 0;
}
.style-book-list{
    margin: 25px 0;
    background: #f9f6ee;
    z-index: 99;
    position: relative;
    border-radius: 0 15px 15px 0;
}
.book-img{
    height: 250px;
    text-align: center;
}
.book-img img{
    max-width: 100%;
}
.book-title{
    padding: 10px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}
.book-title a{
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book-title a:hover{
    color: yellow;
}
.style-book-cover .info-box{
    color: #fff;
}
.b-item{
    padding: 15px;
    background: #fff;
}
.b-list .book-img{
    height: 200px;
}
.b-list .book-title a {
    color: #c06f16;
}
.b-list .book-title a:hover {
    color: #007bff;
}
/* end style book */
/* footer style */
.f-info .white-text{
    color: white;
}
footer{
    color: white;
}
footer .name-title{
    padding-top: 15px;
}
footer .name-title a{
    font-size: 2.5rem;
    color: yellow;
    text-transform: uppercase;
}
.main-footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* end footer style */
/* social style */
.content-social{
    position: fixed;
    right: 0;
    bottom: 20vh;
}
.list-social{
    display: flex;
    flex-flow: column;
    width: 80px;
    align-items: center;
}
.item-social img{
    width: 35px;
    /* padding: 5px 0; */
}
.item-social{
    border: 1px solid #dcdcdc;
    padding: 5px;
    margin-bottom: 5px;
}
/* end social style */
/* /main css */
main{
    min-height: 80vh;
}
/* end main css */
/* sub nav css */
#sub-nav{
    padding: 0.5rem 0;
    background: rgb(240, 235, 219);
}
#sub-nav ul{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin-bottom: 0;
}
#sub-nav ul li a{
    font-size: 14px;
    padding: 15px;
}
/* end sub nav */
/* css cau đối */
#poster{
    background: #f7f4ea;
}
.contain-caudoi{
    background: url('image/lostus-grey.png') no-repeat right bottom;
    background-size: contain;
    line-height : 3rem;
    font-family: 'Thu phap';
    min-height: 150px;
    color: #bb9546;
    font-size: 30px;
    align-items: center;
    display: flex;
    padding-left: 2rem;
}
.contain-caudoi p{
    line-height: 3rem;
    font-family: 'Thu phap';
    padding-left:0!important;
}
.contain-caudoi:hover, .contain-caudoi:hover p{
    color: #ff0033;
}
/* end css câu đối */
@media only screen and (max-width: 414px) {
    .bg-hed{
        text-align: center;
    }
}