/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}
@font-face{
    font-family: 'Thu phap';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/HL-OngDo-Unicode.ttf');
}
a, span, p, div{
    font-family: 'Open Sans', arial, sans-serif;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.bg-gradient-menu{
    /* background-image: linear-gradient(#5e3913, #a16327, #5f3913); */
    /* background-image: url('image/bg_nav.png'); */
    background-image: url('image/bg_nav_brown.png');
}
.color-dranger{
    color: #ff0033;
    font-style: italic;
}
.page-footer{
    background-color: #a0630a;
}
.c-left{
    margin-left: 15%;
}
.p-left15{
    padding-left: 15%!important;
}
.w100-img{
    max-width: 100%;
}
.size-logo{
    width: 120px;
    margin: 0;
    vertical-align: middle;
    /* margin: 10% auto; */
}
.bg-hed{
    /* background: url(image/bamboo-left-sm.png) no-repeat center center; */
    background: url(image/banner_bg.png) no-repeat center center;
    background-size: cover;
    /* background-position: left; */
    padding: 30px 0;
    overflow: hidden;
}
.head-right{
    /* background: url(image/bamboo-right-sm.png) no-repeat center center; */
    background-size: contain;
    background-position: right;
    margin-top: 1px
}
.head-right h1{
    margin-bottom: 0px
}
.head-right span{
    color: #b87c2d;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    
}
/* .logo-head{
    display: block;
    margin: 0;
    width: 250px;
    height: 150px;
    background: none;
} */
.m-b0{
    margin-bottom: 0;
}
.m-t0{
    margin-top: 0;
}
.m-l0{
    margin-right: 0;
}
.m-r0{
    margin-left: 0;
}
.color-a{
    color: #ffffff;
}
.color-a:hover{
    color: yellow;
}
.text-center{
    text-align: center;
}
.brand-logo{
    display: block;
}
nav{
    height: 54px;
    line-height: 54px;
    
}
.brand-logo h5, .brand-logo h1{
    color: #ff0033;
    font-family: 'Thu phap';
    margin-top: 1.5rem;
}
.logo-head{
    /* margin-top: 3px; */
}
section{
    margin-top: 15px;
}
nav ul a{
    font-size: 1.2rem;
    font-family: 'Thu phap';
}
/* css header */
.title-header{
    background: #8b5200;
    /* box-shadow: 3px 3px 6px 0px #006633; */
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); */
    color: #fff100;
    font-family: 'Thu phap';
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0;
    /* width: 150px; */
    line-height: 2.5rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    /* text-transform: uppercase; */
}
.title-line-bottom{
    border-bottom: 1px solid #8b5200;
    line-height: unset;
    font-size: unset;
    padding: 0;
}
.box-title-left{
    margin-right: 0px!important;
}
.box-title-right{
    /* margin-right: 0px; */
}
.card .card-content{
    padding: 10px;
}
.margin0{
    margin: 0;
}
.margin0-bottom{
    margin-bottom: 0;
}
.text-copyr{
    background: #6a3f00;
    padding: 5px 0;
}
/*Banner css*/
.banner-item{
    height: 380px;
}
.banner-item img{
    width: 100%;
    max-height: 100%
}
.slick-prev:before, .slick-next:before{
    color: #996600;
}
.slick-dots li.slick-active button:before{
    width: 30px;
    height: 30px;
    color: #996600;
    font-size: 10px;
}
.banner-title{
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    background: #99660063;
    z-index: 999;
    width: 100%;
}
.banner-title a{
    color: #FFEB3B;
    font-size: 20px;
    font-weight: bold;
}
.newsest-content{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 10px;
}
.newsest-image{
    width: 25%;
    height: 120px;
    overflow: hidden;
}
.newsest-image img{
    max-width: 100%;
    height: 100%;
    transition: transform .2s;
}
.newsest-image img:hover{
    transform: scale(1.5);
}
.newsest-content-r{
    width: 73%;
    padding-left: 10px;
}
.newsest-title a{
    font-size: 22px;
    font-weight: 500;
    color: #111111;
}
.newsest-title a:hover{
    color:#f0a91b;
}
.newsest-expect{
    color: #777;
    height: 65px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.newest-info{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #9E9E9E;
    font-size: 12px;
}
.newest-date, .newest-views{
    padding-left: 5px;
    padding-right: 5px;
}
.shadow{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
/* end banner css */

/* css ph치p 칙m */
.video-content{
    display: flex;
    flex-flow: row nowrap;
}
.video-content iframe.__youtube_prefs__ {
    border-width: 0;
    width: 100%;
    height: 480px;
}
.video-list, .video-main{
    padding-top: 15px;
}
.video-main{
    width: 70%;
    padding-right: 15px;
}
.video-list{
    display: flex;
    width: 30%;
    flex-flow: row nowrap;
}
.video-list .video-thumnail{
    width: 80px;
    height: 60px;
}
.video-list .video-thumnail img{
    width: 100%;
    height: 100%;
}
.video-title-right a{
    padding-left: 5px;
    font-size: 16px;
    height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.video-rigth-info{
    display: flex;
    color: #777;
    font-size: 12px;
}
.video-title-right{
    padding-left: 5px;
}
.video-title-content{
    font-size: 20px;
    height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
/* end css ph치p 칙m */

/* #section-news{
    margin-top: 0;
} */
/* end css header */
@media only screen and (max-width: 414px) {
    .bg-hed{
        text-align: center;
    }
}